# Dependencies (recursive)
node_modules/
**/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Build & Output directories
.next/
out/
dist/
build/
coverage/

# Misc & OS files
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
.vercel/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

